
body{
    background-color: rgb(153, 254, 222);
    padding: 1%;
}
.intro{
    color: brown;
}
h1{
    color: red;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
h2{
    color: rgb(252, 34, 245);
    font-size: 30px; 
    font-style: oblique;
}
h3{
    color: blueviolet;
    text-indent: 1cm;
    background-color: antiquewhite;
}
h4{
    color:rgb(251, 251, 251);
    font-size: 45px;
    font-family:'Courier New', Courier, monospace;
    background-color: lightblue;
    text-align: right;
}