
body{
    background-color: rgb(153, 254, 222);
    padding: 1%;
    background-image: url(https://media-exp1.licdn.com/dms/image/C4D1BAQGmyFIY3ZNplw/company-background_10000/0/1596152714244?e=2159024400&v=beta&t=dKaVV5hMBg2aH9s30b93_U4qEY2Yofxz0dj2s5mDJZQ);
    background-repeat: no-repeat;
}
.intro{
    color: brown;
}
h1{
    color: red;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
h2{
    color: rgb(252, 34, 245);
    font-size: 30px; 
    font-style: oblique;
}
h3{
    color: blueviolet;
    text-indent: 1cm;
    background-color: antiquewhite;
}
h4{
    color:rgb(251, 251, 251);
    font-size: 45px;
    font-family:'Courier New', Courier, monospace;
    background-color: lightblue;
    text-align: right;
}
.img1{
    height: 100%;
    width: 100%;
    border: 5px dotted crimson;
}
.img2{
    border: 5px solid tomato;
    margin: 50px;
    padding: 50px;

}
p.title_p{
    color: blueviolet;
    font-size: large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: oblique;
    text-align: center;
}
a{
    font-size: large;
    color: deeppink;
}
.nav_style{
    border: 1px dotted rgb(252, 34, 245);
}
div.navigation{
    background-color: whitesmoke;
    padding: 5px;
}
.scroll{
    width: 20px;
    height: 20px;
    align-content: right;
}
.contact_icons{
    width: 25px;
    height: 25px;
}
li{
    color: rgb(226, 128, 43);
}
.video_size{
    margin-left: auto;
    margin-right: auto;
    width: 320px;
    height: 240px;
    border: 3px solid rgba(255, 0, 0, 0.823);
}
table{
    border: 3px solid rgb(125, 129, 201);
}
th{
    border: 2px solid rgb(217, 75, 98);
}
td{
    border: 1px solid rgb(52, 51, 31);
}